<html ng-app="weatherApp">
<head>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <script src="js/controllers.js"></script>
</head>
<body ng-controller="weatherCtrl">
<span>{{hello}}</span>

<form>
    <input model="user.location" type="text" />
    <input ng-click="checkWeather(user.location)" type="button" value="Check my location!" />
</form>

<span>You entered location: {{location_entered}}</span>

<!-- <ul>
   <li ng-repeat="phone in phones">
     <span>{{phone.name}}</span>
     <p>{{phone.snippet}}</p>
   </li>
 </ul>!-->

</body>
</html>