<!DOCTYPE html>
<html ng-app="weatherApp">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/style.css">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <script src="js/controllers.js"></script>


</head>
<body ng-controller="weatherCtrl">
<div class="container">

    <div class="col-lg-12 text-center">
        <h1 class="section-title">Weather <span>App</span></h1>
    </div>

    <form class="j-forms">


        <div class="form-group">

            <label>Please select from the following 5 Cities:
            <select ng-model="location">
                <option selected value="Dallas">Dallas</option>
                <option value="Denver">Denver</option>
                <option value="New York">New York</option>
                <option value="Las Vegas">Las Vegas</option>
                <option value="Los Angeles">Los Angeles</option>
            </select>
        </label>
            <label>
                Or Enter In a City:
                <input ng-model="location" type="text" />
            </label>
        </div>

        <hr>

        <label>Select weather format:
            <select ng-model="format" ng-init="format='Fahrenheit'">
                <option selected value="Fahrenheit">Fahrenheit</option>
                <option value="Celsius">Celsius</option>
                <option value="Kelvin">Kelvin</option>
            </select>
        </label>

        <br/>

    </form>


</div>
<!--<span>You entered location: {{location_entered}}</span>!-->
<br/>
<div class="col-lg-12 text-center">
    <h1 class="section-title">The Max Temperature is: <span ng-model="temperature_max" ng-cloak>{{temperature_max}}</span></h1>
    <h1 class="section-title">The Min Temperature is: <span ng-model="temperature_min" ng-cloak>{{temperature_min}}</span></h1>
    <h1 class="section-title">The Wind Speed is: <span ng-model="windspeed" ng-cloak>{{windspeed}}</span></h1>
</div>


<!-- ANIMALS =========================================================== -->
<div class="row">

    <div class="col-lg-12">
        <img ng-src="{{ image }}" class="img-responsive img-thumbnail"  ng-show="image" ng-cloak/>
    </div>
</div>

</body>
</html>
